<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Cross-platform local source for the private Pertamina packages. -->
  <packageSources>
    <clear />
    <add key="PertaminaOffline-1.0.4" value="packages/nuget-offline" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
  <packageSourceMapping>
    <packageSource key="PertaminaOffline-1.0.4">
      <package pattern="Pertamina.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
