::deep .appbar-main
{
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

::deep .icon-button-toggle-drawer
{
    border-color: var(--mud-palette-lines-default);
    background-color: var(--mud-palette-drawer-background);
}

    ::deep .icon-button-toggle-drawer:hover
    {
        background-color: var(--mud-palette-background-gray);
    }

::deep .drawer-main
{
    padding: 0px 10px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: var(--mud-palette-lines-default);
}

::deep .body-container
{
    min-height: calc(100vh - 42px);
    padding-left: 38px;
    padding-right: 38px;
    padding-bottom: 38px;
    padding-top: calc(7px + var(--mud-appbar-height));
}

.footer
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 41px;
    padding-left: 38px;
    padding-right: 38px;
    font-size: 0.750rem;
    color: #FFFFFF;
    background-color: #2196F3;
}

.footer-energizing-logo
{
    width: auto;
    height: 24px;
}

@media (max-width: 600px)
{
    .footer
    {
        gap: 12px;
        height: auto;
        min-height: 41px;
        padding: 8px 16px;
    }

    .footer-energizing-logo
    {
        height: 18px;
    }
}
